:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-bg-color: #181818;
  --light-bg-color: #F2F2F2;
  --light-bg-color-transparent: #f2f2f26e;

  --highlight-color: #8758FF;
  --standard-color: #5CB8E4;
}

.fa-solid .fa-cart-shopping {
  color: #F2F2F2;
  padding-right: 1rem;
}

a {
  text-decoration: inherit;
}

ul,
li {
  text-decoration: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: rgb(252, 251, 251);
  background: radial-gradient(circle, rgba(242,242,242,1) 0%, rgba(230, 237, 249, 0.547) 100%);
}

/* hover article product list  */

.article_wraper:hover h3 {
  color: var(--highlight-color);
}