* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

a {
	color: inherit;
	/* blue colors for links too */
	text-decoration: inherit;
	/* no underline */
}

select {
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}

select::-ms-expand {
	display: none;
}

select {
	outline: none;
}

select {
	width: 100%;
	min-width: 15ch;
	max-width: 25ch;
	border: 1px solid var(--standard-color);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
}

button {
	font-family: inherit;
	font-size: inherit;
	line-height: 1.1;
	min-width: 15ch;
	max-width: 25ch;
	border: 1px solid ;
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	cursor: pointer;

}